<md-dialog md-theme="{{theme}}">
  <form ng-submit="changePassword()">
    <md-dialog-content layout="row" layout-padding>
      <span ng-show="passwordsDontMatch" flex>Those passwords don't match!</span>
      <span ng-show="success" flex>Password changed!</span>
    </md-dialog-content>
    <md-dialog-content layout="row" layout-padding>
      <md-input-container flex>
        <label>New Password</label>
        <input type="password" ng-model="newPassword" required autofocus="true" />
    </md-dialog-content>
    <md-dialog-content layout="row" layout-padding>
      <md-input-container flex>
        <label>Verify Password</label>
        <input type="password" ng-model="verifyPassword" required />
    </md-dialog-content>
    <md-dialog-content layout="row" layout-padding>
      <md-button type="button" class="md-button" ng-click="close()" flex>Cancel</md-button>
      <md-button class="md-button md-raised md-primary" type="submit" flex>Submit</md-button>
    </md-dialog-content>
  </form>
</md-dialog>
