<md-dialog>
   <md-dialog-content layout="row" layout-padding>
      <h2 flex>Patient was successfully added!</h2>
   </md-dialog-content>
   <md-dialog-content layout="row" layout-padding>
      <md-subheader>What would you like to do next?</md-subheader>
   </md-dialog-content>
   <md-dialog-content layout="row" layout-padding>
      <md-button type="button" class="md-raised md-primary" href="/#/medical/create_note/{{baby._id}}" ng-click="close()">Add a note for this patient</md-button>
      <md-button type="button" class="md-raised" ng-click="close(); reload();">Add another patient</md-button>
      <md-button type="button" class="md-raised" ui-sref="medical.search" ng-click="close()">Go back to search</md-button>
   </md-dialog-content>
</md-dialog>
