<md-dialog aria-label="List Dialog">
   <md-dialog-content>
      <md-input-container>
         <label>UserName</label>
         <input type="text" ng-model="login.username" required />
      </md-input-container>
      <md-input-container>
         <label>Password</label>
         <input ng-enter="submitDialog()" type="password" ng-model="login.password" required />
      </md-input-container>

      <md-button id='close' ng-click="closeDialog()">Cancel</md-button>
      <md-button id='submit' ng-click="submitDialog()">ok!</md-button>
   </md-dialog-content>
</md-dialog>
