<header class="">
   <div>
      <img src="">logo goes here</img>
   </div>
   <div class="">
      <div>University OF Utah</div>
      <div>HEALTH CARE</div>
   </div>
</header>

<div class="">
   <h1 class="">A BIG TITLE!</h1>
   <p> Lorem Ipsum</p>
   <div>
      <div class="">
         <img>image goes here</img>
         <input type="button" value="login as Nurse" />
      </div>
      <img class=""> image goes here </img>
      <input class="" type="button" value="login for your child" />
   </div>
</div>


<footer class="">All Rights Reserved by ???</footer>
