<header class=""><!-- HEADER -->
    
   <div id="logo"><!-- LOGO -->
       <img src="../../images/uuhc_logo_homepage_whole.png">
   </div><!-- END  LOGO-->

</header><!-- END  HEADER-->

<div class="titles"><!-- TITLES -->
    
   <h1 class="bigTitle">A BIG TITLE!</h1><!-- HEADER --><!-- END  HEADER-->
   <p class="smallTitle">Lorem Ipsum</p><!-- SUBSTILE --><!-- END  SUBTITLE-->
    
</div><!-- END  TITLES-->
    
    
    
    
    
    
    
    
    
    
<!--
<div>
    <div>
        <img>image goes here
         <md-button class="md-raised" ng-click="userLogin()">login as Nurse</md-button>
      <img class=""> image goes here
      <md-button class="md-raised" ng-click="userLogin()">login for your child</md-button>
      </div>
</div>


<footer class="">All Rights Reserved by ???</footer>
-->
