<div class="redBox"></div><!-- RED BOX --><!-- END  RED BOX-->

<header><!-- HEADER -->
    
   <div id="logo"><!-- LOGO -->
       <img src="../../images/uuhc_logo_homepage_whole.png">
       <hr>
   </div><!-- END  LOGO-->

</header><!-- END  HEADER-->

<div class="titles"><!-- TITLES -->
    
   <h1 class="bigTitle">NICU Login Page</h1><!-- HEADER --><!-- END  HEADER-->
   <p class="smallTitle">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum</p><!-- SUBSTILE --><!-- END  SUBTITLE-->
    
</div><!-- END  TITLES-->
    
    
<div class="login">
    
    <img class="nurseLogin" src="../../images/white_stethoscope_logo.jpg">
    <md-button class="md-raised" ng-click="userLogin()">login as nurse</md-button>
    
    <img class="childLogin" src="../../images/mother_baby.png">
    <md-button class="md-raised" ng-click="userLogin()">login for your child</md-button>
    
</div>
    
<footer class="blackBox">
    
    <div class="call">
        <span class="call">Call us : 777-777-7777</span>
        <span class="call copyRight">Copyright © The Brady Bunch 2015</span>
        <span class="call email">Email Adress : thebradybunch@gmail.com</span>
    </div>
    
</footer>
    
    

    
    


