<div layout="row" layout-align="space-around center">
    <div ng-hide="showNote">
        <md-content>
            <div class="md-toolbar-tools">Create Baby Note</div>
            <md-list>
                <md-list-item>
                    Patient Number: {{ theBaby.patientNumber}}
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    Patient Name: {{ theBaby.firstName}} {{ theBaby.lastName}}
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    Gender: {{ theBaby.gender }}
                </md-list-item>
            </md-list>
            <md-list>
                <md-list-item>
                    Parents: &nbsp;<span ng-repeat="parent in theBaby.parents">{{parent.name}}{{$last ? '' : ',&nbsp;'}}</span>
                </md-list-item>
            </md-list>
            <md-input-container>
                <label>Comment</label>
                <textarea ng-model="note.comment" cols="45" rows="10"></textarea>
            </md-input-container>
            <input type="file" images="images" accept="image/*" ng-model="imageId" placeholder="UPLOAD IMAGE" fileread> {{imageId}}
        </md-content>
    </div>
    <div layout="row" ng-hide="showNote">
        <form name="babyNote" ng-submit="addBabyNote()">
            <div>
                <md-content>
                    <div class="md-toolbar-tools">Stats</div>
                    <md-input-container>
                        <label>Blood Pressure</label>
                        <input type="text" ng-model="note.stats.bloodPressure">
                    </md-input-container>
                    <md-input-container>
                        <label>Oxygen</label>
                        <input type="text" ng-model="note.stats.oxygen">
                    </md-input-container>
                    <md-input-container>
                        <label>Heart Rate</label>
                        <input type="text" ng-model="note.stats.heartRate">
                    </md-input-container>
                    <md-input-container>
                        <label>Weight</label>
                        <input type="text" ng-model="note.stats.weight">
                    </md-input-container>
                </md-content>
            </div>
            <br>
            <add-stat></add-stat>
            <br>
            <div>
                <div class="md-toolbar-tools"></div>
                <md-checkbox ng-model="note.stats.fed" aria-label="Fed">
                    Fed:
                </md-checkbox>
                <md-checkbox ng-model="note.stats.changed" aria-label="Changed">
                    Changed:
                </md-checkbox>
                <md-checkbox ng-model="note.stats.bathed" aria-label="Bathed">
                    Bathed:
                </md-checkbox>
                <!--Moved the directive-->
                <div layout="row">
                    <md-button flex="20" type="button" ng-click="clearFields()">Cancel</md-button>
                    <md-button flex="10" type="Submit" ng-disabled="babyNote.$invalid">Submit</md-button>
                </div>
            </div>
        </form>
    </div>
    <div layout="row" layout-align="space-around center" ng-show="showNote">
            {{ theBaby.patientNumber}}<br>
            {{ theBaby.firstName}} {{ theBaby.lastName}}<br>
            Parents: {{parent.name}}{{$last ? '' : ',&nbsp;'}}<br>
            <br>

            Comment: {{returnedNote.comment}}<br>
            Blood Pressure: {{ returnedNote.stats.bloodPressure}}<br>
            Heart Rate: {{ returnedNote.stats.heartRate}}<br>
            Oxygen: {{ returnedNote.stats.oxygen}}<br>
            Weight: {{ returnedNote.stats.weight}}<br>
            Other: {{ returnedNote.stats.other.stat}} {{ returnedNote.stats.other.value}}<br>
            <br>
            This is an edit button.
    </div>
<div>
