<div class="container">
   <md-toolbar>
      <span class="md-toolbar-tools md-primary">Create Baby Note: {{ theBaby.firstName}} {{ theBaby.lastName}}</span>
   </md-toolbar>
   <div>
      <div class="medicalFormInnerContainer">
         <br>
         <br>
         <md-content class="createNoteContainer" layout="row" flex layout-wrap>
            <md-content layout="column" flex="5"></md-content>
            <md-content layout="column" flex="40" layout-padding>
               <!-- will only show for parents view -->
               <div ng-hide="showForParent">test test
                  Patient Number: {{ theBaby.patientNumber}}
                  <br> Patient Name: {{ theBaby.firstName}} {{ theBaby.lastName}}
                  <br> Gender: {{ theBaby.gender }}
                  <br> Parents: &nbsp;<span ng-repeat="parent in theBaby.parents">{{parent.name}}{{$last ? '' : ',&nbsp;'}}</span>
                  <br>
                  <br>
               </div>
               <md-input-container>
                  <label><span class="blackText">&nbsp;&nbsp;Comments</span></label>
                  <textarea class="textAreaContainer greyOutline" ng-model="note.comment" cols="50" rows="10"></textarea>
               </md-input-container>
               <!-- will only show for parents view -->
               <div ng-show="showForParent">
                  <md-input-container>
                     <label class="blackText">&nbsp;&nbsp;Journal</label>
                     <textarea ng-model="note.journal" cols="50" rows="10" class="textAreaContainer greyOutline"></textarea>
                  </md-input-container>
               </div>
               <!-- end parents view only -->
            </md-content>
            <md-content layout="column" flex="5"></md-content>
            <md-content layout="column" flex="40">
               <form name="babyNote" ng-submit="floatTheModal(note.baby)">
                  Upload A Photo <span ng-hide="showForParent">of {{ theBaby.firstName}} {{ theBaby.lastName}}</span>
                  <br>
                  <input type="file" images="images" accept="image/*" ng-model="note.picturesUrl" placeholder="UPLOAD IMAGE" fileread>
                  <br>
                  <br>{{pictureError}}
                  <br>
                  <md-checkbox ng-model="note.stats.fed" aria-label="Fed">
                     Fed:
                  </md-checkbox>
                  <md-checkbox ng-model="note.stats.changed" aria-label="Changed">
                     Changed:
                  </md-checkbox>
                  <md-checkbox ng-model="note.stats.bathed" aria-label="Bathed">
                     Bathed:
                  </md-checkbox>
                  <br>
                  <br>
                  <md-button type="button" class="md-flat greyOutline" layout="column" flex="40">
                     <add-stat></add-stat>
                  </md-button>
                  <br>
                  <br>
                  <md-content>
                     <md-input-container>
                        <label><span class="">Blood Pressure</span></label>
                        <input type="number" ng-model="note.stats.bloodPressure">
                     </md-input-container>
                     <md-input-container>
                        <label><span class="">Oxygen</span></label>
                        <input type="number" ng-model="note.stats.oxygen">
                     </md-input-container>
                     <md-input-container>
                        <label><span class="">Heart Rate</span></label>
                        <input type="text" ng-model="note.stats.heartRate">
                     </md-input-container>
                     <md-input-container>
                        <label><span class="">Weight</span></label>
                        <input type="text" ng-model="note.stats.weight">
                     </md-input-container>
                  </md-content>
                  <br>
            </md-content>


            <div class="alignRight">
               <md-button type="button" ng-click="clearFields()" class="pointer md-raised">Cancel</md-button>
               <md-button class="md-primary md-raised" type="Submit" ng-disabled="babyNote.$invalid">Submit</md-button>

            </div>
            </form>
      </div>
   </div>
</div>
