<form name="babyForm" ng-submit="makeBaby()">
  <md-content layout="row" layout-padding>
    <md-input-container>
      <label>Patient Number</label>
      <input type="number" name="patientNumber" ng-model="baby.patientNumber" required>
      <div ng-messages="babyForm.patientNumber.$error" ng-show="babyForm.patientNumber.$dirty">
        <div ng-message="required">This is required</div>
      </div>
    </md-input-container>
    <md-datepicker ng-model="baby.birthDate" md-placeholder="Date of Birth"></md-datepicker>
    <md-datepicker ng-model="baby.deathDate" md-placeholder="Date of Death"></md-datepicker>
  </md-content>
  <md-content layout="row" layout-padding>
    <md-input-container>
      <label>First Name</label>
      <input type="text" name="firstName" ng-model="baby.firstName" />
    </md-input-container>
    <md-input-container>
      <label>Middle Name</label>
      <input type="text" name="middleName" ng-model="baby.middleName" />
    </md-input-container>
    <md-input-container>
      <label>Last Name</label>
      <input type="text" name="lastName" ng-model="baby.lastName" />
    </md-input-container>
    <md-datepicker ng-model="baby.dischargeDate" md-placeholder="Discharge Date"></md-datepicker>
  </md-content>
  <md-content layout="row" layout-padding>
    <md-input-container flex="20">
      <label>Gender</label>
      <md-select ng-model="baby.gender">
        <md-option value="Male">Male</md-option>
        <md-option value="Female">Female</md-option>
      </md-select>
    </md-input-container>
  </md-content>
  <md-content layout="row" layout-padding>
    <md-input-container>
      <label>Birth Length</label>
      <input type="text" name="length" ng-model="baby.birthLength" required />
      <div ng-messages="babyForm.length.$error" ng-show="babyForm.length.$dirty">
        <div ng-message="required">This is required</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Birth Weight</label>
      <input type="text" name="weight" ng-model="baby.birthWeight" required />
      <div ng-messages="babyForm.weight.$error" ng-show="babyForm.weight.$dirty">
        <div ng-message="required">This is required</div>
      </div>
    </md-input-container>
  </md-content>
  <md-content layout="row" layout-padding>
    
  </md-content>
</form>
