<div class="headerContainer">
	<div layout="row" layout-margin layout-wrap layout-padding>
  		<div flex="30"><img src="../../images/uuhc_logo_homepage_whole.png"></div>
  		<div><md-button class="md-warn" ui-sref="medical.search">Search for Patient</md-button>
			<md-button class="md-warn" ui-sref="medical.create_account">Create Patient</md-button>
			<md-button class="md-warn" type="button" ng-click="logout()">Logout</md-button>
		</div>
	</div>
</div>
<div ui-view></div>

<div ng-include="'../../footer.html'"></div>
</div>
