<div class="container">
    <md-toolbar>
        <div flex="5" layout="center">
            <span class="md-toolbar-tools paddingLeft" layout="row" flex> &nbsp;Patient ID</span>
            <span class="md-toolbar-tools paddingLeft" layout="row" flex>&nbsp;Name</span>
            <span class="md-toolbar-tools paddingLeft" layout="row" flex>Gender</span>
            <span class="md-toolbar-tools paddingLeft" layout="row" flex>Date of Birth</span>
            <span class="md-toolbar-tools paddingLeft" layout="row" flex> </span>
        </div>
    </md-toolbar>
    <md-input-container>
        <label>Search for Baby by ID or Name</label>
    	<input type="text" ng-model="babySearch" autofocus>
    </md-input-container>

    <!--search field-->
    <div flex="5" layout="center" ng-repeat="baby in babies | filter:babySearch" class="rowColor babyRow">
        <span layout="row" flex>
            {{ baby.patientNumber }}
        </span>
        <span layout="row" flex>{{ baby.lastName }}, {{ baby.firstName }}</span>
        <span layout="row" flex>{{ baby.gender }}</span>
        <span layout="row" flex>{{ baby.birthDate }}</span>
        <span layout="row" flex>
            <a href="#/medical/edit/{{ baby._id }}">Edit Patient</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="#/medical/create_note/{{ baby._id }}">Create Note</a>
        </span>
    </div>
</div>
