<md-input-container flex>
	<label>Filter Results</label>
	<input type="text" ng-model="babySearch">
</md-input-container>

<div flex layout="space-around center" id="babyRow" ng-repeat="baby in babies | filter:babySearch">
	<span layout="column" flex id="searchCellPatient">Patient Number: <a href="#/medical/create_note/{{ baby._id }}">{{ baby.patientNumber }}</a></span> &nbsp &nbsp &nbsp
	<span layout="column" flex id="searchCellName">{{ baby.lastName }}, {{ baby.firstName }}</span>
	<span layout="column" flex id="searchCellGender">{{ baby.gender }}</span>
	<span layout="column" flex id="searchCellBirth">{{ baby.birthDate }}</span>
	<span><a href="#/medical/edit/{{ baby._id }}">Edit</a></span> / 
	<span><a href="#/medical/create_note/{{ baby._id }}">Create Note</a></span>
</div>
