/*PRODUCT PAGE*/
header {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

section, img{
    width: 100%;
    height: 876px;
    background-size: cover;
}

.share {
    width: 15%;
    height: 60px;
    padding: 1%;
    margin-left: 5%; 
}

/*END OF PRODCUCT PAGE*/


/*HOME PAGE*/
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
/*    color: #646464;*/
}

.redBox {
    width: 100%;
    height: 45px;
    background-color: #A41031;
}

#logo img {
    padding: 45px;
    text-align: center;
    margin: 70px 0 0 20px;
    margin-left: 37%;
}

hr {
    width: 35%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.2;
}

.titles h1  {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.60);
}

.titles p {
    text-align: center;
}

.nurseLogin {
    margin-left: 27%;
    padding: 4%;
    width: 180px;
    height: auto;
}

#loginNurseBtn {
    position: relative;
    right: 12.5%;
}

.childLogin {
    margin-left: 2%;
    padding: 4%;
    width: 180px;
    height: auto;
}

#loginChildBtn {
    position: relative;
    right: 13%;
}

.blackBox {
    position: relative;
    margin-top: 3.1%;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #080808;
    opacity: 0.9;
    background-color: transparent, #686868;
}

.call {
    color: #ffffff;
    font-size: 0.85em;
    padding: 15px;
    position: relative;
}

.copyRight {
    position: relative;
    left: 36%;
}

.email {
    left: 67%;
}

/*END OF HOME PAGE*/

/*Styling for Main Nurse template Page*/
.nurseHeader {
	width: 100%;
	height: 15%;
}

.logo {
	margin-left: 2%;
	height: 115px;
	width: 100px;
}

.mdbutton {
	width: 90%;
}

.nurseContainer {
	width:100%;
	height: 85%;
	display: flex;
	flex-direction: row;
}

.nurseNav {
	width: 15%;
	height: 85%;
	margin-top: 5%;
	padding: 5px;
}

.nurseViewContainer {
	width: 85%;
	height: 85%;
	padding: 15px;
}

/*END OF MAIN NURSE TEMPLATE PAGE*/

/*Search Page*/
#babyRow {
    padding: 20px;
    height: 30px;
    /*width: 100%;*/
    border-bottom: solid 1px lightgrey;
    cursor: pointer;
}

#babyRow:visited {
    background-color: #fff;
}

#babyRow {
/*    background-color: #444444;*/
}

#searchCellPatient {
    width: 25%;
/*    padding-bottom: 20px;*/
}

#searchCellName {
    width: 25%;
/*    padding-bottom: 20px;*/
}

#searchCellGender {
    width: 25%;
/*    padding-bottom: 20px;*/
}

#searchCellBirth {
    width: 15%;
    padding-right: 5%;
/*    padding-bottom: 20px;*/
}

.pointer {
    cursor: pointer;
}

/*NURSE SEARCH PAGE*/
.container {
    width: 95%;
    height: 80%;
    background-color: #EEEEEE;
    padding: 30px;
    border: 1px solid black;
    box-shadow: 0 0 1px 1px;
}

#babyColumn {
    background-color: white;
    border: 0px solid black;
    padding: 30px;
    box-shadow: 0 0 1px 1px;
}

#babyRow {
    border: 0px solid black;
    box-shadow: 0 0 1px 1px;
}

.gender {
    position: relative;
    left: 3.5%;
/*    margin-left: 10%;*/
}

.birth {
    position: relative;
    left: 5.1%;
/*    margin-left: 10%;*/
}

.numbers {
    position: relative;
    left: 0.5%;
}

.test {
    color: black;
}

a {
    color: red;
    text-decoration: none;
}

md-input-container .md-input{
    border-color: red !important;
}

.grid {
  width: 95%;
  height: 80%;
}

.my-custom-menu {
  position: absolute;
}

.my-custom-menu .ui-grid-menu {
  padding: 0px;
}

.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}


.oddColor:nth-child(odd) {background-color: white;}

/*.oddColor:nth-child(odd) {background-color: blue;}*/



/*
label {
    color: red !important;
}
*/




/*END SEARCH PAGE*/

/*Parent View Template Page*/
.parentNavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    float: center;
    margin-top: 25px;
}

.parentViewContainer {
    width: 100%;
    height: 85%;
    margin: auto;
    margin-top: 25px;

}

.break {
    width: 80%;
    height: 10px;
    border-radius: 25px;
    background-color: gray;
    display: block;
    margin: auto;
    margin-top: 25px;

}

/*Parent Settings Page*/

.form {
    height: 85%;
    width: 90%;
    display: flex;
    float: center;
    align-items: left;
    flex-direction: row;
    margin: auto;
    border: 5px black solid;
    padding: 25px;
}
.clear {
	clear: both;
}
/** {
    outline: 1px solid red;
}*/
/*br {
 border-width: 10px;
 border-style: inset;
 display: block;
 vertical-align: center;
 color: black;
}*/
