/*HOME PAGE*/
body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
/*    color: #646464;*/
}

.redBox {
    width: 100%;
    height: 45px;
    background-color: #A41031;
}

#logo img {
    padding: 45px;
    text-align: center;
    margin: 70px 0 0 20px;
    margin-left: 37%;
}

hr {
    width: 35%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.2;
}

.titles h1  {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.60);
}

.titles p {
    text-align: center;
}

.nurseLogin {
    margin-left: 27%;
    padding: 4%;
    width: 180px;
    height: auto;
}

#loginNurseBtn {
    position: relative;
    right: 12.5%;
}

.childLogin {
    margin-left: 2%;
    padding: 4%;
    width: 180px;
    height: auto;
}

#loginChildBtn {
    position: relative;
    right: 13%;
}

.blackBox {
    position: relative;
    margin-top: 6.2%;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #080808;
    opacity: 0.9;
    background-color: transparent, #686868; 
}

.call {
    color: #ffffff;
    font-size: 0.85em;
    padding: 15px;
    position: relative;
}

.copyRight {
    position: relative;
    left: 36%;
}

.email {
    left: 67%;
}


/*Styling for Main Nurse template Page*/
.nurseHeader {
	width: 100%;
	height: 15%;
}

.logo {
	margin-left: 2%;
	height: 115px;
	width: 100px;
}

.mdbutton {
	width: 90%;
}

.nurseContainer {
	width:100%;
	height: 85%;
	display: flex;
	flex-direction: row;
}

.nurseNav {
	width: 15%;
	height: 85%;
	margin-top: 5%;
	padding: 5px;
}

.nurseViewContainer {
	width: 85%;
	height: 85%;
	padding: 15px;
}

/*END OF MAIN NURSE TEMPLATE PAGE*/

/*Search Page*/
#babyRow {
    padding: 20px;
    height: 30px;
    /*width: 100%;*/
    border-bottom: solid 1px lightgrey;
    cursor: pointer;
}

#babyRow:hover {
    background-color: lightgrey;
}

#searchCellPatient {
    width: 25%;
    padding-bottom: 20px;
}

#searchCellName {
    width: 25%;
    padding-bottom: 20px;
}

#searchCellGender {
    width: 25%;
    padding-bottom: 20px;
}

#searchCellBirth {
    width: 15%;
    padding-bottom: 20px;
}
