* {
   margin: 0;
}
html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100%;

}
body {
   margin: 0;
   padding: 0;
   font-family: 'PT Sans', sans-serif;
   background-color: transparent;
   z-index: -2;/
/*   position: relative;*/

}
/*.fullPage {
   z-index: -1;
   position: relative;
   width: 100%;
   clear: left;
   min-height: 100%;
   margin-bottom: -60px;
}*/
/*.fullPage:after {
   content: "";
   display: block;
   height: 60px;
}*/

.blackText {
   color: #BDBDBD;
}
.medicalFormInnerContainer {
   margin: 0 2%;
   padding-bottom: 35px;
}

/** {
    outline: 1px solid red;
}*/


/**********************PRODUCT PAGE***********************/

.header1 {
   width: 100%;
   height: 10%;
   background-color: #fff;
}
.productLogo {
   width: 7%;
   margin: 10px 20px 20px 20px;
}
.shareImg {
   width: 15%;
   height: 60px;
   margin-left: 5%;
   margin-bottom: 1.5%;
}
#background {
   background: url('../images/455237505-630x210.jpg') no-repeat 100% 100%;
   background-size: cover;
   width: 100%;
   height: 90%;
}
.headerOne {
   position: absolute;
   top: 35%;
   left: 27%;
   font-size: 250%;
   color: #fff;
}
.subtitleP {
   position: absolute;
   left: 15%;
   margin-top: 15%;
   font-size: 1.5em;
   color: black;
   margin-left: 40%;
   margin-right: 5%;
}
.call {
   color: #ffffff;
   font-size: 0.85em;
   margin-top: 1%;
}
.blackBox2 {
   position: relative;
   margin-top: -3.6%;
   height: 49px;
   width: 100%;
   background-color: #080808;
   opacity: 0.9;
   background-color: transparent, #686868;
}
#showBtn {
   position: absolute;
   top: 62%;
   color: #ffffff;
   background: transparent;
   border-radius: 20px;
   padding: 8px;
   border: 1px solid #fff;
   margin-left: 32%;
   margin-top: -5%;
}
.greyOutline {
   outline: 1px solid #eee;
}

/*
* {
    border: 1px solid red;
}*/


/*************************END OF PRODCUCT PAGE************************/


/*LOGIN PAGE*/

.redBox {
   /*width: 100%;
    height: 45px;*/
   background-color: #A41031;
}
.outerHome {
   width: 385px;
   margin: 45px auto 60px;
   position: relative;
}
.outerHome img {
   float: center;
}
.outerHome h3 {
   text-align: center;
}
.homeIcon {
   float: center;
   margin: auto;
}
.marginAuto {
   margin: 10px auto;
   width: 100px;
   float: center;
}

/** {
    outline: 1px solid red;
}*/


/*#logo {
    margin: 25px auto;
}

hr {
    width: 35%;
    border: 0;
    height: 1px;
    background: #000;
    opacity: 0.2;
}

.titles h1  {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.60);
}

.titles p {
    text-align: center;
}*/


/*.nurseLogin {
    margin-left: 27%;
    padding: 4%;
    width: 180px;
    height: auto;
}

#loginNurseBtn {
    position: relative;
    right: 12.5%;
}

.childLogin {
    margin-left: 42%;
    padding: 4%;
    width: 180px;
    height: auto;
}

#loginChildBtn {
    position: relative;
    right: 11%;
}*/

footer {
   /*
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
*/
   height: 60px;
   background-color: black;
   position: relative;
   opacity: .6;
}
.footerText {
   color: white;
   font-size: 1.2em;
   font-weight: bold;
   padding: 4px 15px;
   display: inline-block;
}

/*
.nurseFooter {
    position: relative;
    top: 12.5%;
}*/


/****************************END OF HOME PAGE*****************************/


/*Styling for Main Nurse template Page*/
/*.nurseHeader {
	width: 100%;
	height: 15%;
}*/

.nurseHeader {
   width: 90%;
   margin: auto;
}
.logo {
  height: auto;
  width: auto;
}
.mdbutton {
   width: 90%;
}
.nurseContainer {
   width: 100%;
   height: 85%;
   display: flex;
   flex-direction: row;
}
.nurseNav {
   width: 15%;
   height: 85%;
   margin-top: 5%;
   padding: 5px;
}
.nurseView {
  margin-bottom: 15px;
}

/***************************END OF MAIN NURSE TEMPLATE PAGE************************/
/** {
    border: 1px solid red;
}*/

.container {
    width: 85%;
    margin: 35px auto;
    /*outline: 1px solid red;*/
}

.headerContainer {
    width: 85%;
    margin: 0 auto;
}
#searchCellPatient, #searchCellBirth, #searchCellName, #searchCellGender {
    width: 25%;
/*    padding-bottom: 20px;*/
}
#searchCellBirth {
   width: 15%;
   padding-right: 5%;
   /*    padding-bottom: 20px;*/
}
.pointer {
   cursor: pointer;
}
.paddingLeft {
   padding-left: 2px;
}

/******************************NURSE CREATE NOTE PAGE**********************/

.modal {
    min-width: 45%;
}

.alignRight {
   padding-right: 135px;
   ;
   float: right;
}
#createNoteBtn {
   position: relative;
   right: -180%;
}
/*
#comment {
    margin-left: auto;
    margin-right: auto;
}

#text {
   margin-left: 25%;
   text-decoration-line: underline;
}

#noteContainer {
    margin-left: -5%;
}

#statContainer {
    position: relative;
    left: -10%;
}
.textAreaContainer {
    outline: 1px solid #eee;
}*/


/*
* {
    border: 1px solid red;
}
*/


/******************************END CREATE NOTE PAGE**********************/


/******************************NURSE SEARCH PAGE**********************/
.container {
   width: 90%;
   margin: auto;
   outline: 1px solid #eee;
   /*background-color: #EEEEEE;*/
   /*padding: 20px;*/
   /*box-shadow: 0 0 1px 1px;*/
}
.gender {
   position: relative;
   left: 3.5%;
   /*    margin-left: 10%;*/
}

/** {
    outline: 1px
}*/

.birth {
   position: relative;
   left: 5.1%;
   /*    margin-left: 10%;*/
}
.numbers {
   position: relative;
   left: 0.5%;
}
a {
   color: #A41031;
   text-decoration: none;
}
md-input-container .md-input {
   border-color: 68041A;
}
.grid {
   width: 95%;
   height: 80%;
}
.my-custom-menu {
   position: absolute;
}
.my-custom-menu .ui-grid-menu {
   padding: 0px;
}
.my-custom-menu .ui-grid-menu-inner {
   -webkit-box-shadow: none;
   box-shadow: none;
}
.rotated {
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -o-transform: rotate(180deg);
}
.rowColor:nth-child(even) {
   background-color: #fff;
   padding: 1%;
}
.rowColor:nth-child(odd) {
   background-color: #eee;
   padding: 1%;
}

/*{
  outline: 1px solid red;
}*/


/*******************************Parent View Template Page**************************/
.parentContainer {
    width: 80%;
    margin: auto;
}
.BabyBlue{
  background-image: url('../images/ThemeDocs/babyBlue.png');
}

/*.Neutral{
  background-image: url('../images/ThemeDocs/.png');
}*/

.CamoGreen{
  background-image: url('../images/ThemeDocs/camoLeaves.png');
}

.Purple{
  background-image: url('../images/ThemeDocs/purplePigsCars.png');
}

.RosePink{
  background-image: url('../images/ThemeDocs/roseCupcakeHearts.png');
}

.Bright{
  background-image: url('../images/ThemeDocs/SoRealTrees.png');
}

.backgroundImage {
  background-repeat: repeat;
 /* background-attachment: fixed;*/
 background-size: cover;
  min-height: 100%;
  position: fixed;
  min-width: 100%;
  z-index: -1;
}

.parentFont {
  font-family: Georgia;
}


.parentNavBar {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   float: center;
   padding: 3%;
}
.parentViewContainer {
   width: 100%;
   height: 85%;
   margin: auto;
   /*margin-top: 25px;*/
}
.break {
   width: 80%;
   height: 10px;
   border-radius: 25px;
   background-color: gray;
   display: block;
   margin: auto;
   margin-top: 5%;
}
.md-sidenav-backdrop {
   height: 100%;
   position: fixed;
}

/*******************************Parent Landing Page*******************************/
.landingContainer {
  width: 80%;
  margin: 2% auto;
  /*display: inline-block;*/
  text-align: center;

}
 /*ul {
  list-style-type: none;
 }
.journalBox {
  border: 5px solid gray;
  height: auto;
  width: 900px;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  margin-right: 30px;
  vertical-align: center;
}*/

.journalBox:hover {
  opacity: 1;
}

.journalTitle {
  margin-right: 40px;
  font-style: italic;
  font-variant: bold;
}

.specialFont {
  font-size: 60px;
  font-family: Libre-Baskerville;
  font-size: 40px;
}

.questions {
  font-size: 15px;
  height: 20px;
  width: 900px;
  text-align: center;
}

.entries {
  height: auto;
  /*width: 900px;*/
  width: 80%;
  font-size: 15px;
  background-color: #fff;
  opacity: 0.6;
  /*margin-top: 5px;*/
  /*padding: 5px;*/
  padding: 1%;
  margin: 1% auto;
}

.entries:hover {
  opacity: 1;
}

/*.landingImage {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 1px solid #666;
  padding: 40px;
  display: flex;
  justify-content: center;
  float: left
  overflow: hidden;
  position: absolute;
}

.landingImage img {
  height: auto;
  width: 100%;
  margin: auto;
  float: center;
}*/

.image1 {
  position: absolute;
  top: 2%;
  right: 15%;
  width: 33%;
  border-radius: 10px;
  out
}

.image2 {
    position: absolute;
    top: 12%;
    left: 15%;
    width: 22%;
    border-radius: 10px;
}

.image3 {
    position: absolute;
    top: 32%;
    left: 35%;
    width: 30%;
}
.journalContainer {
    position: absolute;
    top: 75%;
    left: 0;
    background-color: #fff;
    opacity: .9;
}
.innerLandingContainer {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
}

/*******************************Parent Settings Page*******************************/

.form {
   height: 85%;
   width: 90%;
   display: flex;
   /*float: center;*/
   align-items: left;
   flex-direction: row;
   margin: auto;
   /*border: 5px black solid;*/
   padding: 25px;
}
.clear {
   clear: both;
}
.addFrame {
    /*padding: 4px;*/
    border: 1px solid rgb(238, 238, 238);
}
#spacer {
    width:5%;
}
.shareContainer {
    width: 60%;
    border: 1px solid rgb(238, 238, 238);
}

/* Parent Timeline Page (for testing only) */

.repeatNote {
   padding: 10px;
   outline: 1px solid black;
   width: 23%;
   margin: 10px;
   float: left;
}
.repeateNoteContainer {
   width: 97%;
   height: 450px;
   overflow: auto;
}

.tlContainer {
    margin:8px;
    background-color: #fff;
    opacity: .9;
    /*padding: 14px;*/
    width: 95%;
    height: 100%;
}
.tlCommentsCreator {
    padding-left: 10px;
    font-weight: bold;
    font-size: 12px;
}
.tlNoteText {
    font-weight: bold;
    font-size: 12px;
}
.tlNoteLog {
    margin-top: 4%;
    background-color: #fff;
    opacity: .9;
}
.statbar {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    background-color: #fff;
    /*opacity: .9;*/
    margin-bottom: 100px;
}
.tlstats {
    vertical-align:center;
    display:inline-block;
    border:1px #ccc solid;
    margin:5px;
    padding:4px;
    min-height: 100%;
}
.imgContainer {
    width: 125px;
    height: 125px;
    overflow: hidden;
    margin: 10px;
    float: left;
    outline: 1px solid #ccc;
    background-color: #fff;
    opacity: .9;
}
.imgContainer img {
    width: 100%;
}

.chart {
    margin:20px auto;
    width:1200px;
    height:520px;
    background-color: #fff;
    opacity: .9;
}
/** {
    outline: 1px solid red;
}*/


/*br {
 border-width: 10px;
 border-style: inset;
 display: block;
 vertical-align: center;
 color: black;
}*/



/** {
    border: 1px solid red;
}*/

/*******************************TESTING Parent Landing Page**************************/

.plTest {
    float: left;
    outline: 1px solid #666;
    padding: 5px;
}

.coolerBackground {
  opacity: 0.0;
}

/*******************************END Parent Settings Page**************************/
div[ui-view] {
 background-color: rgba(0,0,0,0);
}

/*******************************END Parent Settings Page**************************/
