<div class="form">
	<form name="levelAuth" ng-submit="authLevel()">
		<div>
			<h3>Add a Family Member or Friend To Receive Information</h3>
			<md-input-container flex>
				<label>Name</label>
				<input type="text" ng-model="auth.name">
			</md-input-container>
			<md-input-container flex>
				<label>Email</label>
				<input type="email" ng-model="auth.email">
			</md-input-container>
			<label>Assign the Level of Information for this Person: </label>
		    <md-radio-group ng-model="auth.level">
		      <md-radio-button value="level1" class="md-primary" label="Assign Level 1 Information">Level 1.<br>These users will receive medical information<br>(stats and tests), pictures, and comments.</md-radio-button>
		      <md-radio-button value="level2" label="Assign Level 2 Information">Level 2.<br>These users will receive pictures and comments. </md-radio-button>
		    </md-radio-group>
			<div layout="row">
				<md-button flex="20" type="button" ng-click="clearFields()" class="pointer">Cancel</md-button>
				<md-button flex="10" type="Submit" ng-disabled="levelAuth.$invalid">Submit</md-button>
			</div>
		</div>
	</form>
	<div>
		<div>
			<span id="searchCellPatient">Name</span>
			<span id="searchCellName">Email</span>
			<span id="searchCellName">Information Level</span>
			<span id="searchCellName"></span>
			<span id="searchCellName"></span>
		</div>
		<div ng-repeat="contact in contacts">
			<span id="searchCellPatient">{{contact.name}}</span>
			<span id="searchCellName">{{contact.email}}</span>
			<span id="searchCellName">{{contact.level}}</span>
			<span id="searchCellName"><a ng-click="editPerson(person)">Edit</a></span>
			<span id="searchCellName"><a ng-click="removePerson(person)">Remove</a></span>
		</div>
	</div>
</div>




<!--search field-->
<!-- <div flex layout="space-around center" id="babyRow" ng-repeat="baby in babies | filter:babySearch">
	<span layout="column" flex id="searchCellPatient"><a href="#/medical/create_note/{{ baby._id }}">{{ baby.patientNumber }}</a></span> &nbsp &nbsp &nbsp
	<span layout="column" flex id="searchCellName">{{ baby.lastName }}, {{ baby.firstName }}</span>
	<span layout="column" flex id="searchCellGender">{{ baby.gender }}</span>
	<span layout="column" flex id="searchCellBirth">{{ baby.birthDate }}</span>
	<span><a href="#/medical/edit/{{ baby._id }}">Edit</a></span> /
	<span><a href="#/medical/create_note/{{ baby._id }}">Create Note</a></span>
</div> -->
