<div style="border:5px black solid; width:95%; margin:0 auto 20px auto; padding:25px; box-sizing:border-box">
	<md-tabs md-dynamic-height>

		<md-tab label="Comments">
			<div class="tlcomments" style="margin:5px; border:1px black solid" ng-repeat="note in baby.notes">
				{{ note.comment }}
			</div>
		</md-tab>

		<md-tab label="Statistics">
			<div class="tlstats" style="display:inline-block; margin:5px; padding:4px; border:1px black solid" ng-repeat="note in baby.notes">
				Blood Pr.: {{ note.stats.bloodPressure }}
				<br> Heart Rate: {{ note.stats.heartRate }}
				<br> Oxygen: {{ note.stats.oxygen }}
				<br> Weight: {{ note.stats.weight }}
				<!--{{ note.stats.other }}-->
				<br> Fed: {{ note.stats.fed }}
				<br> Changed: {{ note.stats.changed }}
				<br> Bathed: {{ note.stats.bathed }}
				<br> Time: {{ note.created_at }}
			</div>
			<div ac-chart="'line'" ac-data="data" ac-config="config" id='chart' class='chart' style='margin:20px auto; width:1200px; height:500px'></div>
		</md-tab>

		<md-tab label="Pictures">
			<div class="tlpictures" style="display:inline-block; margin:5px" ng-repeat="note in baby.notes">
				<img src={{note.picturesUrl}}>
			</div>
		</md-tab>

	</md-tabs>
</div>