<div class="nurseHeader">
   <div>
      <img class="logo" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcT9O1DpjKnGvnz7D92bbL4URhcsW0V2SPa_bM_0-4h8OKuzHJD_SQ">
   </div>
</div>

<div class="nurseContainer">
   <div class="nurseNav">
      <md-button class="md-raised md-warn mdbutton" ui-sref="hospital.search">Search for Staff</md-button>
      <md-button class="md-raised md-warn mdbutton" ui-sref="hospital.add_nurse">Create Staff</md-button>
   </div>
   <div class="nurseViewContainer" ui-view></div>
</div>
