<md-input-container flex>
	<label>Filter Results</label>
	<input type="text" ng-model="staffSearch">
</md-input-container>

<div flex layout="space-around center" >
	<span layout="column" flex id="searchCellPatient">Staff Name</span>
	<span layout="column" flex id="searchCellName">Email</span>
</div>

<div flex layout="space-around center" id="babyRow" ng-repeat="person in staff | filter:staffSearch">
	<span layout="column" flex id="searchCellPatient">{{ person.name }}</span> &nbsp; &nbsp; &nbsp;
	<span layout="column" flex id="searchCellName">{{person.email}}</span>
	<span><md-button type="button" class="md-raised" href="#/hospital/edit/{{ person._id }}" style="position: relative; bottom: 24px;">Edit</md-button></span> &nbsp;&nbsp;&nbsp;
	<span><md-button type="button" class="md-raised" ng-click="removeStaff(person._id)" style="position: relative; bottom: 24px;">Remove</md-button></span>
</div>
