<header class="header1">
        
        <div> 
            
            <img src="../../images/steso.png" class="productLogo">
            <img src="../../images/share_logo.jpg" class="shareImg">
            
        </div> 
        
</header> 
    
<section id="background"> 
    
    <div>
        
        <h1 class="headerOne">HEADING GOES HERE</h1>
        
        <p class="subtitleP">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas.
        </p>
        
    </div>
        
        
<!--        <div>-->

<!--            <h1 class="headerOne">HEADING GOES HERE<img src="../../images/Nurse6.png" id="nursesPic">-->
<!--</h1>-->
            
<!--            <p class="subPara">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas.-->
<!--            </p>-->
            
<!--            <div class="showBtn">-->
                
<!--                <md-button class="md-raised" ui-sref="login" id="showBtn">SHOW ME HOW IT WORKS</md-button>-->

<!--            </div>-->
            
<!--        </div>-->
        
</section> 


<footer class="blackBox2">
<!--     BLACK FOOTER -->

   <div class="call">
<!--       FOOTER INFO -->
      <span class="call">Call us : 777-777-7777</span>
      <span class="call copyRight">Copyright © The Brady Bunch 2015</span>
      <span class="call email">Email Adress : thebradybunch@gmail.com</span>
   </div>
   <!-- END  FOOTER INFO-->
        
</footer> 
    

    