<!DOCTYPE html>
<html>
    <head>
    	<link href="../../Styles/styles.css" rel="stylesheet">

    </head>
<body>

<header class="header1"><!-- HEADER -->
        
        <div class="container1"><!-- CONTAINER -->
            
            <img src="../../images/share_logo.jpg" class="share">
            
        </div><!-- END CONTAINER -->
        
</header><!-- END  HEADER-->
    
    <section class="hero"><!-- HERO SECTION --> 
        
        <img src="../../images/heart-disease-blur.jpg" class="heart">
        
        <div class="container2">

            <h1 class="headerOne">HEADING GOES HERE</h1>
            
            <div class="showBtn">
                
                <button type="button" ui-sref="login" class="btn">SHOW ME HOW IT WORKS
                </button>
                
            </div>
            
        </div>
        
    </section><!-- END HERO SECTION  -->

<footer><!-- FOOTER -->
        
</footer><!-- END  FOOTER-->
    
</body> 
</html>
    
    