<form name="babyForm" ng-submit="makeBaby()">
  <md-content layout="row" layout-padding>
    <md-input-container>
      <label>Patient Number</label>
      <input type="number" name="patientNumber" ng-model="baby.patientNumber" required>
      <div ng-messages="babyForm.patientNumber.$error" ng-show="babyForm.patientNumber.$dirty">
        <div ng-message="required">This is required</div>
      </div>
    </md-input-container>
    <md-datepicker ng-model="baby.dob" md-placeholder="Date of Birth"></md-datepicker>
    <md-datepicker ng-model="baby.dod" md-placeholder="Date of Death"></md-datepicker>
  </md-content>
  <md-content layout="row" layout-padding>
    <md-input-container>
      <label>First Name</label>
      <input type="text" name="firstName" ng-model="baby.firstName">
    </md-input-container>
    <md-input-container>
      <label>Middle Name</label>
      <input type="text" name="middleName" ng-model="baby.middleName">
    </md-input-container>
    <md-input-container>
      <label>Last Name</label>
      <input type="text" name="lastName" ng-model="baby.lastName">
    </md-input-container>
  </md-content>
